@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
@layer base {
  :root {
    --gray-50: #ffffff;
    --gray-75: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #2f3c50;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #374151;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #121212;

    --selection: hsla(201, 50%, 40%, 10%);
    --border: hsla(0, 0%, 0%, 0.1);
    --page-background: var(--gray-50);

    --heading: var(--gray-900);
    --text-body: var(--gray-800);
    --text-second: var(--gray-700);
    --text-disabled: var(--gray-500);

    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
  }

  .dark {
    --gray-50: #121212;
    --gray-75: #111827;
    --gray-100: #1f2937;
    --gray-200: #374151;
    --gray-300: #374151;
    --gray-400: #6b7280;
    --gray-500: #9ca3af;
    --gray-600: #d1d5db;
    --gray-700: #e5e7eb;
    --gray-800: #f3f4f6;
    --gray-900: #ffffff;
    --gray-950: #ffffff;

    --selection: hsla(0, 0%, 100%, 0.077);
    --border: 215 27.9% 16.9%;
    --page-background: var(--gray-75);

    --heading: var(--gray-900);
    --text-body: var(--gray-800);
    --text-second: var(--gray-600);
    --text-disabled: var(--gray-500);

    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
  }
}

/* variables */
@layer base {
  :root {
    --page-top: 128px;
    --page-half-top: 64px;
    --page-width: 1024px;
    --content-width: 720px;
    --body-margin-left: max(24px, env(safe-area-inset-left));
    --body-margin-right: max(24px, env(safe-area-inset-right));
  }

  @media (max-width: 768px) {
    :root {
      --page-top: 96px;
      --page-half-top: 48px;
      --body-margin-left: max(16px, env(safe-area-inset-left));
      --body-margin-right: max(16px, env(safe-area-inset-right));
    }
  }
}

/* layout */
@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply m-0 min-h-screen p-0;
    @apply font-sans text-base leading-7 tracking-normal antialiased;
    @apply bg-page text-second;
  }

  main,
  footer {
    padding-right: var(--body-margin-right);
    padding-left: var(--body-margin-left);
  }

  main > .container {
    @apply mx-auto max-w-content pt-page;
    min-height: calc(100vh - var(--page-half-top) * 2 - 20px);
  }

  * {
    @apply box-border border-border;
  }

  ::selection {
    @apply bg-selection shadow-none;
  }

  h1 {
    @apply font-serif font-bold text-heading;
  }

  b,
  strong {
    @apply font-bold text-body;
  }

  em {
    @apply font-serif font-bold not-italic text-body;
  }

  del {
    @apply text-disabled;
  }

  mark {
    @apply rounded-sm bg-selection font-medium text-body;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 4px;
  }

  .link,
  .external-link,
  .mdx a {
    @apply relative inline-block break-all text-body hover:text-heading;
    @apply underline decoration-border decoration-1 underline-offset-4 hover:decoration-transparent;
    @apply duration-200 ease-in-out hover:duration-100;
  }
  .link::before,
  .external-link::before,
  .mdx a:not(.anchor)::before {
    @apply absolute -inset-x-1 bottom-0.5 top-0 -z-10 rounded transition-colors hover:bg-selection;
    content: '';
  }
  .external-link::before {
    @apply -right-0.5;
  }
  .external-link::after {
    @apply m-0 inline-block h-3.5 w-3.5;
    content: '';
    background: url('data:image/svg+xml;utf8,<svg color="%23464646" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dark .external-link::after {
    content: '';
    background: url('data:image/svg+xml;utf8,<svg color="%23B0B0B0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* scrollbar */
  * {
    --scrollbar-size: 16px;
    --scrollbar-size-min: 40px;
    --scrollbar-color: var(--gray-200);
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-width: thin; /* firefox */
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-thumb {
    min-width: var(--scrollbar-size-min);
    min-height: var(--scrollbar-size-min);
    background-color: var(--scrollbar-color);
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: var(--gray-300);
  }

  ::-webkit-scrollbar-thumb:active {
    --scrollbar-color: var(--gray-300);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner,
  ::-webkit-resizer {
    display: none;
  }
}

/* header blur layer */
@layer components {
  .blur-layer {
    --h: min(96px, var(--page-top));
    position: fixed;
    top: 0;
    z-index: 1;
    width: calc(100% + var(--body-margin-left) + var(--body-margin-right));
    height: var(--h);
    margin-bottom: calc(-1 * var(--h));
    margin-left: calc(-1 * var(--body-margin-left));
    pointer-events: none;
    user-select: none;
    backdrop-filter: blur(5px);
    opacity: 0.95;
    mask-image: linear-gradient(to bottom, #000000 25%, transparent);
  }

  .blur-layer:after {
    position: absolute;
    inset: 0;
    content: '';
    background: linear-gradient(to bottom, var(--page-background), transparent);
  }
}
